/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.tag:hover {
        cursor: pointer;
}

#map {
    position: relative;
    width: 100%;
    background-image: url('http://static.guim.co.uk/sys-images/Guardian/Pix/maps_and_graphs/2010/5/20/1274374118960/Graphic-map---museum-of-m-001.jpg');
    height: 230px;
    width: 460px;
}

#image1 {
    position: relative;
    width: 100%;
}
