/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

#manage_map_caption {
    padding: 15px;
    font-size: 24px;
}

#upload_image_container {
    padding: 15px;
    margin-left: 5px;
}

#upload_image {
    border-radius: 5px;
}

#upload_note {
    margin-left: 110px;
    font-size: 12px;
}

.partial-view {
    background-color: #fff;
}

.img_preview {
    max-width: 1000px;
}