/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

#manage_map_caption {
    padding: 0px 15px;
    font-size: 24px;
}

#upload_image_container {
    padding: 25px 10px;
    margin-left: 5px;
    
}

#upload_image_container > input {
	margin-top: 10px;
}

#upload_image {
    border-radius: 5px;
}

#upload_note {
    padding: 0px 15px;
    font-size: 12px;
}

.partial-view {
    background-color: #fff;
}

.img_preview {
    width: 100%;
}

a.selected {
  background-color:#1F75CC;
  color:white;
  z-index:100;
}

.messagepop {
  background-color:#FFFFFF;
  border:1px solid #999999;
  cursor:default;
  display:none;
  margin-top: 15px;
  position:absolute;
  text-align:left;
  width:394px;
  z-index:50;
  padding: 25px 25px 20px;
}

label {
  display: block;
  margin-bottom: 3px;
  padding-left: 15px;
  text-indent: -15px;
}

.messagepop p, .messagepop.div {
  border-bottom: 1px solid #EFEFEF;
  margin: 8px 0;
  padding-bottom: 8px;
}

#image-activities {
    width: 100%;
    margin: auto;
    
    vertical-align: middle;
}

#image-activities:hover {
    cursor: crosshair;
}

.note {
    font-size: 12px;
}

#mapify-caption:before {
    content: '\f319';
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    font: normal 29px/1 'dashicons';
    vertical-align: middle;
    margin-right: 0.3em;
}

.activities-table > table {
	width: 100%;
}

.activities-table table {
	border: 2px solid black;
	
}

.activities-table tr:nth-child(even) {background: #cce6ff}
.activities-table tr:nth-child(odd) {background: #FFF}

.activities-table th, .activities-table td {
	border: 1px solid black;
}

th {
	text-align: center;
}

.space div {
	padding-bottom: 10px;
}

.space-bottom {
	padding-bottom: 10px;
}

.marker {
	width: 25px;
	height: 25px;
	position: absolute;
	left: 0;
	transition: 0.5s;
}

.marker:hover {
    width:  25px;
    height:  25px;
    left:  0;
    position: absolute;
    cursor : pointer
}

.view-animate.ng-enter, .view-animate.ng-leave {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
  width:100%;
  position:absolute;
  top:88px;
  left:0;
  right:0;
  bottom:0;
    
}

.view-animate.ng-enter {
  left:100%;
}
.view-animate.ng-enter.ng-enter-active {
  left:0;
}
.view-animate.ng-leave.ng-leave-active {
  left:-100%;
}

#map{
    position: relative;
}
#IDDate {
	
}
#IDDate:hover{
  background-color: yellow; 
   cursor: pointer;
}

#IDactivity-name{
	
}
#IDactivity-name:hover{
  background-color: yellow; 
   cursor: pointer;
}

#IDcategory-name:hover{
  background-color: yellow; 
   cursor: pointer;	
}
#table > td{
	padding-bottom: 1em;
	margin:5px;
	padding: 5px;
}

#IdInsertTable {
	width: 100%;
}

#IdInsertTable {
	padding: 15px;
}

#IdInsertTable > td, th {
	padding: 15px;
}

#editonButton{
	width: 100%;
	background-color:inactiveborder;
	
}
#IdInsertTableCategory ,th , td{
		margin:10px;
	padding: 10px;
	margin-left: 15px;
}
#IDareaText{
	rows="4"; 
	cols="40";
	background-color: white;
}

.activities-control {
	margin: 10px 0px;
}
